doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2
      a(href='https://'+otherHostName) Pied Piper
      |
      || Hooli
    block content
