doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2
      a(href='http://localhost:3000') Pied Piper
      |
      || 
      |
      a(href='http://localhost:3001') Hooli
    block content
